*{
      margin: 0;
      padding: 0;
}
body{
      height: 100vh;
      width: 100vw;
}
aside{
      height: 100vh;
      width: 30vw;
      background-color: #dcb38c;
      float: left;
}
main{
      height: 100vh;
      width: 70vw;
      background-color: #744645;
      float: right;
}
